BatchTest/Service References/BatchRemoteContractorNS/RemoteContractor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="batch.com/agent/remote/contractor" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.batch.com/agent/remote/contractor" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="batch.com/agent/remote/contractor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SOAP_MTOM_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.batch.com/agent/remote/contractor" location="http://localhost:54249/RemoteContractor.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="SOAP_XML" type="i0:BatchRemoteContractor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportFromConfigString">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ImportFromConfigString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExportToConfigString">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ExportToConfigString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddForeman">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/AddForeman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveForeman">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/RemoveForeman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConnectForeman">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ConnectForeman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisconnectForeman">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/DisconnectForeman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/Run" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitData">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/SubmitData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CompleteAdding">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/CompleteAdding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRemoteForemanStats">
      <soap:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/GetRemoteForemanStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAP_MTOM" type="i0:BatchRemoteContractor">
    <wsp:PolicyReference URI="#SOAP_MTOM_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportFromConfigString">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ImportFromConfigString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExportToConfigString">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ExportToConfigString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddForeman">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/AddForeman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveForeman">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/RemoveForeman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConnectForeman">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/ConnectForeman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisconnectForeman">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/DisconnectForeman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitData">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/SubmitData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CompleteAdding">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/CompleteAdding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRemoteForemanStats">
      <soap12:operation soapAction="http://schemas.batch.com/agent/remote/contractor/BatchRemoteContractor/GetRemoteForemanStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDataFault">
        <soap12:fault use="literal" name="FaultDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>